body {
  background-image: url('./assets/istockphoto-1482806682-612x612.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  margin: 0;
}